.popular-post {
  padding: 0px 10px 10px 10px;
  margin: 22px 0;
  .col-4 {
    a {
      height: 70px;
      img {
        object-fit: cover;
      }
    }

  }
  .col-8{
   .title-time{
    padding: 0px 8px;
    a{
      color: var(--text_color);
      font-size: 15px;
      font-weight: 700;
      transform: all .5s;
      &:hover{
        color: #009688;
      }
    }
    span{
      color: var(--text_color);
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      line-height: 1;
    }
   }
  }
}
