.user_dropdown {
  transform-origin: top;
  transition: transform 0.5s ease;
  position: absolute;
  background-color: #fff;
  overflow-y: auto;
  width: 200px;
  border-radius: 5px;
  right: 20px;
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11),
    0 4px 16px 0 rgba(167, 175, 183, 0.83);
  border: 1px solid rgba(167, 175, 183, 0.83);
  transform: scale(0);
  top: 75px;
  &.show {
    transform: scale(1);
  }
  .image-email {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    padding: 3px 10px;
  }
  ul {
    padding: 5px 0;
    li {
      padding: 3px 10px;
      cursor: pointer;
      &:hover {
        background-color: #efefef;
      }
    }
  }
}
