footer {
  background-color: #333;
  padding: 20px 0;
  .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text{
      font-size: 14px;
      color: white;
      a{
        font-weight: 700;
        cursor: pointer;
        color: rgb(176, 148, 148);
        transition: .3s;
        &:hover{
            color: white;
        }
      }
    }
    .terms{
      a{
        color: white;
              font-size: 14px;
              margin-left: 20px;

      }
    }
  }
}
