.sidebar {
  .search {
    padding: 15px 10px;
    text-align: center;
    background-color: var(--main_bg);
    box-shadow: var(--shadow_color);
    h2 {
      text-transform: uppercase;
      margin-bottom: 18px;
    }

    .form-group {
      .form-control {
        padding: 5px;
      }
      .btn {
        text-transform: uppercase;
        font-weight: 400;
        transition: all 0.3s;
        border-color: #4ad840;
        color: #fff;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  .popular-article {
    margin-top: 28px;
    background-color: var(--main_bg);
    box-shadow: var(--shadow_color);
    .title {
      padding: 10px;
      text-align: center;
      background-color: #dadad2;
      margin-bottom: 25px;
      h3 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
  .flow-facebook {
    background-color: var(--main_bg);
    box-shadow: var(--shadow_color);
    .title {
      padding: 10px;
      text-align: center;
      background-color: #dadad2;
      h3 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: #404040;
      }
    }
    .image {
      display: flex;
      justify-content: center;
    }
  }

  .category {
    margin-top: 20px;
    background-color: var(--main_bg);
    box-shadow: var(--shadow_color);
    .title {
      padding: 10px;
      text-align: center;
      background-color: #dadad2;
      h3 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: #404040;
      }
    }

    .cate-list {
      padding: 10px;
      .cate-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 14px;
        li {
          display: flex;
          align-items: center;
          a {
            cursor: pointer;
            color: var(--text_color);
            font-weight: 700;
            transform: 0.3s;
            &:hover {
              color: #ff9800;
            }
          }
        }
        span {
          color: gray;
        }
      }
    }
  }
  .tag {
    margin-top: 20px;
    background-color: var(--main_bg);
    box-shadow: var(--shadow_color);
    .title {
      padding: 10px;
      text-align: center;
      background-color: #dadad2;
      h3 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: #404040;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 20px;
      padding: 0 10px 10px 10px;
      li {
        a {
          background-color: #eef3ed;
          color: rgb(25, 24, 24);
          padding: 6px 10px;
          display: block;
          border-radius: 3px;
          transition: 0.3s;
          &:hover {
            background-color: #ff9800;
            color: white;
          }
        }
      }
    }
  }
}
