.pagination {
  ul {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
  } 
  li{
    &.active{
      background-color: #448db1;
      color: white;
    }
    a{}
  }
  li, button{
    background-color: #b4ccd8;
    border: 1px solid white;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .btn{
    display: none;
    &:hover{
      background-color: #b4ccd8;
    }
  }
}
