.main-article {
  background-color: var(--main_bg);
  padding: 8px;
  border-radius: 2px;
  box-shadow: var(--shadow_color);
  margin-bottom: 20px;
  margin-right: 20px;

  .col-4 {
    .image {
      padding: 8px;
      width: 100%;
      position: relative;
      height: 190px;
      a {
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      span {
        position: absolute;
        left: 8px;
        bottom: 8px;
        background-color: rgb(39, 40, 112);
        color: white;
        display: inline-block;
        font-size: 13px;
        padding: 5px 10px;
        font-weight: 400;
      }
    }
  }
  
  .col-8 {
    padding: 8px;
    .title {
      a {
        font-weight: 600;
        font-size: 18px;
        color: var(--text_color);
        transition: 0.3s;
        &:hover {
          color: rgb(33, 118, 33);
        }
      }
    }
    .name-time {
      display: flex;

      span {
        margin-right: 8px;
        color: var(--gray);
        line-height: 2;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        a {
          font-size: 12px !important;
          color: var(--gray) !important;
        }
      }
    }
    .description {
      font-size: 14px;
      overflow: hidden;
      line-clamp: 4;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
    .read-more {
      button {
        margin-top: 5px;
      }
    }
  }
}
