.navbar {
  padding: 10px 0;
  background-color: var(--main_bg);
  box-shadow: var(--shadow_color);position: relative;
  .row {
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      .col-4 {
        width: 100%;
        label.menu_icon {
          opacity: 1 !important;
          visibility: visible !important;
        }
      }
      #toggle:checked ~ .col-8 ul.active {
        transform: scale(1);
      }
      .col-8 {
        ul {
          flex-direction: column;
          padding: 0 !important;
          width: 200px;
          position: absolute;
          top: 60px;
          right: 10px;
          background-color: white;
          box-shadow: 0 0 2px 3px rgba(0,0,0,.1);
          z-index: 99999999;
          transform: scale(0);
          transform-origin: top right;
          transition: 0.3s;
          border-radius: 4px;
          &.active {
            padding-bottom: 30px !important;
          }
          li {
            a {
              padding: 5px 0;
              display: block;
            }
            .user {
              margin-top: 15px;
            }
          }
        }
      }
    }

    input#toggle {
      display: none;
    }
    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        img {
          width: 120px;
        }
      }
      label.menu_icon {
        font-size: 25px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        background-color: var(--primary);
        cursor: pointer;
        border-radius: 5px;
        color: var(--fixed_white);
        opacity: 0;
        visibility: hidden;
      }
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 10px;
      li {
        a {
          font-size: 15px;
          color: var(--text_color);
          font-weight: 500;
        }
        .user {
          margin-left: 5px;
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          img.avatar {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}
